* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  
    scroll-behavior: smooth;
  }
  
  .top {
    background-color: #fc7a50;
    padding: 1rem;
  
    height: 100vh;
  
    display: grid;
    align-content: space-between;
  }
  
  .top header {
    background-color: #35382e;
    color: white;
  
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 2px;
  }
  
  .nav-links {
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
  }

  .img-1 {
     width: 30vw;
     display: grid;
     padding: 20px;
     
    }

    .behind-img{
      position: absolute;

    }

    .main{
        display: grid;
      grid-auto-flow: column;
      align-content: center;
      justify-content: center;

    }
     
  
 .center-box {
    background-color: #35382e;
    color: white;
    width: 70vw;  
    max-width: 500px;
    justifyrgb(0, 0, 0): center;
    border-radius: 2px;
    padding: 1rem;
    display: grid;
    gap: 0.8rem;
  }
  
  .center-box a {
    color: white;
    text-decoration: none;
  }
  
  .center-box-title {
    text-align: center;
    color: #face00;
  }
  
  .expand {
    text-align: center;
    color: white;
    
    animation: arrowHover 4s infinite linear;
  }
  
  .projects {
    background-color: #ede6e1;
    padding: 1rem;
    display: grid;
    gap: 1rem;
  }

  .img-projects{
      width: 15pc;
      padding-left: 30px;
  }
  
  .projects h2 {
    text-align: center;
    font-weight: 300;
    font-size: 1.2rem;
  }
  
  .project-list {
    list-style: none;
  
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
  }
  
  .project-item {
    border: 1px solid black;
    padding: 1rem;
  
    display: grid;
    gap: 0.5rem;
  }
  
  .project-item h3 {
    color: #fc7a60;
    text-align: center;
  }
  
  .project-item a {
    background-color: #fc7a50;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 0.5rem 0;
    border-radius: 8px;
  }
  
  .experiences{
    background-color: #5bc4eb;
    padding: 1rem;
  }

  .experiences h2{
      text-align: center;
  }

  .experiences-list{
      text-decoration: none;
      display: grid;
      grid-auto-flow: row;
      align-content: center;
      justify-content: center;
      margin: 10px;
  }

  .exp-list1{
      background-color: #ede6e2;
      display: grid;
      grid-auto-flow: column;
      align-content: center;
      justify-content: center;
      gap: 1rem;
      padding: 20px;
      margin: 10px;
      border-radius: 3px;

  }

  .exp-list2{
    background-color: #ede6e2;
    display: grid;
    grid-auto-flow: column;
    align-content: center;
    justify-content: center;
    gap: 1rem;
    padding: 20px;
    margin: 10px;
    border-radius: 3px;

  }

  .exp-list3{
    background-color: #ede6e2;
    display: grid;
    grid-auto-flow: column;
    align-content: center;
    justify-content: center;
    gap: 1rem;
    padding: 20px;
    margin: 10px;
    border-radius: 3px;

  }

  .exp-list4{
    background-color: #ede6e2;
    display: grid;
    grid-auto-flow: column;
    align-content: center;
    justify-content: center;
    gap: 1rem;
    padding: 20px;
    margin: 10px;
    border-radius: 3px;

}

  .img-list3{width: 50px;
    align-content: center;
    justify-content: center;
}


  
  footer {
    background-color: #0f1306;
    padding: 0.5rem 1rem;
    text-align: center;
  }
  
  footer a {
    color: rgb(20, 19, 19);
    text-decoration: none;
    color: white;
  }
  
